bndr
#p1 {background-color: #ff5522;}
#p2 {background-color: #0176dd;}
#p3 {background-color: #ff54bc;}
#p4 {background-color: #fabe06;}
#p5 {background-color: #aa66e1;}
#p6 {background-color: #ee0024;}
#p7 {background-color: #02cbab;}
#p8 {background-color: #ff999a;}
#p9 {background-color: #bb0133;}
#p10 {background-color: #ffe44f;}
#p11 {background-color: #fe88ba;}
#p12 {background-color: #55dded;}
#p13 {background-color: #fbd87a;}
#p14 {background-color: #99dd88;}
#p15 {background-color: #debbff;}
#p16 {background-color: #881187;}
#p17 {background-color: #00aabb;}
#p18 {background-color: #dd2200;}
#p19 {background-color: #dd008b;}
#p20 {background-color: #bbbbbb;}
#p21 {background-color: #ffdd00;}
#p22 {background-color: #aa33cb;}